# Description
This notebook analyzes and visualizes a Theorical Proyect Data

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_a5653096f6eb4f71ba00cb8713275e78 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='aHnZNlddx-dEDlipG2_jfvzfoYs3dq9Wd540DzSTW_n7',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_a5653096f6eb4f71ba00cb8713275e78.get_object(Bucket='proyectodeprueba-donotdelete-pr-9clr0uy3ocwy6n',Key='asset-v1_TUMx+QEMx+2T2015+type@asset+block@Schuhman_Waterproofing_and_Process_Data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Schuhman Data,Unnamed: 1,Unnamed: 2,LSL = 14000 mm,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,#,Stitch Density (stiches per inch),"Outsole Bonding Strength (Glue Height, mm)",Waterproofing Rating (mm),NaN,NaN,NaN,NaN,NaN,NaN
1,1,10.020,1.451,14413,NaN,NaN,NaN,NaN,NaN,NaN
2,2,8.050,1.708,15085,NaN,NaN,NaN,NaN,NaN,NaN
3,3,8.070,1.463,14590,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9.850,1.718,15374,NaN,NaN,NaN,NaN,NaN,NaN